:root.theme-dark {
  --main-bg-color: #000028;
  --main-bg-img: url(../images/cover-image-dark.png);
  --accent-color: #ff0070;
  --accent-color-bg: #ff0070;
  --accent-color-a: #ff0070;
  --theme-subtitle-color: #000028;
  --theme-text-color: #f1b2ce;
  --main-title-color: #db00ff;
  --button-hover-color: rgb(255 0 112 / 0.4);
  --rec-display: flex;
}
