/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --main-bg-img: url(../images/cover-image-light.png); 
  --main-bg-color: #fff;
  --accent-color: #353430;
  --accent-color-bg: #ff8dcb;
  --accent-color-a: #ff8dcb;
  --theme-subtitle-color: #353430;
  --theme-text-color: #353430;
  --main-title-color: #ffc2e6;
  --button-hover-color: rgb(50 49 45 / 0.4);

  --rec-display: none;
}

@media (prefers-color-scheme: light) {
  :root {
  --main-bg-img: url(../images/cover-image-light.png);
  --main-bg-color: #fff;
  --accent-color: #353430;
  --accent-color-bg: #ff8dcb;
  --accent-color-a: #ff8dcb;
  --theme-subtitle-color: #353430;
  --theme-text-color: #353430;
  --main-title-color: #ffc2e6;
  --button-hover-color: rgb(50 49 45 / 0.4);

  --rec-display: none;
  }
}
