/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-image: var(--main-bg-img);
  background-position: center;
  background-attachment: fixed;
  background-color: #191970;
}

.main__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 600;
  line-height: 0.825;
  color: #db00ff;
  
}

.title-decor {
  background-color: #ff0070;
  color: #000028;
  font-size: 18px;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: '';
  display: block;
  inline-size: 25px;
  block-size: 25px;
  position: absolute;
  top: 10px;
  right: 10px;
  border-top: 1px solid #ff0070;
  border-right: 1px solid #ff0070;
}

.decorated-zone::after {
  content: '';
  display: block;
  inline-size: 25px;
  block-size: 25px;
  position: absolute;
  bottom: 10px;
  left: 10px;
  border-bottom: 1px solid #ff0070;
  border-left: 1px solid #ff0070;
}

/*Стили, применяемые к шапке сайта*/

.header {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  block-size: 100vh;
  min-block-size: 375px;
  position: relative;
}

.rec_sign {
  display: flex;
  gap: 10px;
  position: absolute;
  top: 10px;
  right: 19px;
  justify-self: end;
  align-self: flex-start;
  color: #ff0070;
  text-transform: uppercase;
}

.rec_sign::after {
  content: '';
  display: block;
  inline-size: 9px;
  block-size: 9px;
  margin-top: 8px;
  border-radius: 50%;
  background-color: #ff0070;
  box-shadow: 0 0 5px 2px;
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
  padding: 75px 10px 65px 0;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  padding: 1.5px 13px;
  text-transform: lowercase;
  color:#ff0070;
  background-color: transparent;
  border: none;
}

.header__theme-menu-button_active {
  border: 1px solid #ff0070;
}

.header__title {
  padding: 0 10px 55px;
  justify-self: flex-start;
  text-shadow: 4px 4px 0 var(--accent-color);
}
.header__about {
  margin: 0 10px 66px;
  justify-self: flex-end;
  font-weight: 600;
  line-height: 23.4px;
}

/*Стили, применяемые к основной части сайта*/

.section__title {
  color: var(--accent-color);
  font-size: 18px;
  font-weight: 600;
  line-height: 23.4px;
}

.section__a {
  text-decoration: none;
  text-shadow: 2px 1px 0 var(--accent-color);
}

section p {
  color: #f1b2ce;
  padding-top: 10px;
  line-height: 23.4px;
}

section li {
  padding-top: 20px;
}

/*Секция 1*/

.reasons {
  padding: 40px 10px 0;
}

/*Секция 2*/

.irritants {
  padding: 50px 10px 0;
}

/*Секция 3*/

.tips {
  padding: 50px 10px 0;
}

.tips__title {
  margin-top: 20px;
}

.tips__subtitle {
  font-weight: 400;
}

/*Секция 4*/

.gallery {
  padding: 50px 10px 0;
}

.gallery img {
  max-inline-size: 355px;
  padding-top: 10px;
}

/*Стили подвала*/

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  block-size: 100vh;
  min-block-size: 668px;
  padding-top: 40px;
}

.closing__title {
  text-shadow: 2px 1px 0 var(--accent-color);
}
